<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 d-inline-block">Access Trail</h3>
         <span class="text-right p-2 ">
            <input type="search" class="form-control w-25 d-inline-block" [(ngModel)]="FilterName"
              placeholder="search" />
          </span>
         

          <span class="text-right p-2 expBtn">
            <button class="btn btn-primary" (click)="exportTrips()">Export</button>
          </span>

        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Username</th>
                <th scope="col" >Action</th>
                <th scope="col">Access Time</th>
                <!--<th scope="col">Status</th> 
                <th scope="col">Payment Date</th>-->     
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of (selectedMembers  | search: FilterName)">
                <th scope="row">{{item.id}}</th>
                <td>{{item.login}}</td>
                
                <td>{{item.action}}</td>
                <td>{{item.access_time | date}}</td>
                <!--<td *ngIf  = "item.paid == 1"><button [disabled]="item.paid == 1 ? true : false" id="btnAdminPaid" class="btn btn-primary paidalgn" (click)="setPaid(item.id)">Paid</button></td>
                <td *ngIf = "item.paid == 0"><button  id="btnAdminPaid" class="btn btn-primary paidalgn" (click)="setPaid(item.id)">Open</button></td>
                <td *ngIf = "item.pay_date != 'Pending'">{{item.pay_date | date }}</td>
                <td *ngIf = "item.pay_date == 'Pending'">{{item.pay_date}}</td>-->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <div class="card-footer pb-0 pt-3">
            <!-- <jw-pagination [items]="tripsList  | search: FilterName" (changePage)="onChangePage($event)"></jw-pagination> -->
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>
