<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0 d-inline-block">View Discount</h3>
          <span class="text-right p-2 ">
            <input type="search" class="form-control w-25 d-inline-block" [(ngModel)]="FilterName"
              placeholder="search" />
          </span>
          <span class="text-right p-2 expBtn" [hidden]="true">
            <button class="btn btn-primary" (click)="exportSurCharge()">Export</button>
          </span>
        </div>
        <div class="table-responsive">
        <table
          class="table align-items-center table-flush table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-responsive-xs">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Code</th>
              <th scope="col" class="sort" data-sort="budget">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Discount Percent</th>
              <th scope="col">Max Discount Amount</th>
              <th scope="col">Number of users</th>
              <th scope="col">Applied</th>
              <th scope="col" class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of (pageOfItems | search: FilterName)">
              <th scope="row">
                {{item.discount_code}}
              </th>
              <td>
                {{item.title}}
              </td>
              <td>
                {{item.description}}
              </td>
              <td>
                {{item.start_date | date:'mediumDate'}}
              </td>
              <td>
                {{item.end_date | date:'mediumDate'}}
              </td>
              <td>
                {{item.discount_percent}}
              </td>
              <td>
                {{item.max_discount_amount}}
              </td>
              <td>
                {{item.max_no_of_users}}
              </td>
              <td>
                {{item.applications}}
              </td>
              <td class="text-center">

                <div class=" dropdown-menu-right dropdown-menu-arrow">
                  <a style="color: #5e72e4; cursor: pointer;" class="dropdown-item1" 
                  (click)="editDiscount(item.id)"><i
                      class="fas fa-pencil-alt"></i></a>

                </div>
                <!-- </div> -->
              </td>
            </tr>

          </tbody>
        </table>
      </div>
        <!-- </div> -->
        <div class="card-footer py-4">
          <div class="card-footer pb-0 pt-3">
            <jw-pagination [items]="discountList | search: FilterName" (changePage)="onChangePage($event)">
            </jw-pagination>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>