<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- <form [formGroup]="vehicleForm" *ngIf="isFormReady"> -->
  <form>
    <div class="card bg-secondary shadow">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <!-- <h3 class="mb-0">Edit Vehicle and Fare Details</h3> -->
            <!-- <h3 class="mb-0" *ngIf="vehicleDetails.id === 0 ">Add Vehicle and Fare Details</h3> -->
            <h3 class="mb-0" *ngIf="vehicleDetails.id != 0">Edit Vehicle and Fare Details</h3>

          </div>
          <div class="col-4 text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          </div>
        </div>
      </div>
      <div class="card-body">

        <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
        <div class="pl-lg-4">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Vehicle-name">Vehicle Type *</label>
              
                <!-- <select id="input-Vehicle-name" class="form-control form-control-alternative" formControlName="type"
                (change)="selectedEvent($event)"  
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }" >
                <option disabled selected value="">Select a Vehicle Type</option>
                <option *ngFor="let level of vehicleCategory" 
                    value="{{level.value}}">{{level.name}}</option>
            </select> -->


                <!-- <input type="text" id="input-Vehicle-name" class="form-control form-control-alternative"
                  placeholder="Vehicle Type" formControlName="type" value="{{vehicleDetails.type}}"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" /> -->
                <!-- Vechile Type -->
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                  <div *ngIf="f.type.errors?.required">Vechile Type is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minimum">Minimum Fare *</label>
                <!-- <input type="number" id="input-Minimum" class="form-control form-control-alternative"
                  placeholder="Minimum Fare" formControlName="minimum_fare" value="{{vehicleDetails.minimum_fare}}"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Min fare -->
                <div *ngIf="submitted && f.minimum_fare.errors" class="invalid-feedback">
                  <div *ngIf="f.minimum_fare.errors?.required">Minimum Fare is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Vehicle-make">Vehicle Make *</label>
              
                <!-- <select id="input-Vehicle-make" class="form-control form-control-alternative" formControlName="make"
                (change)="selectedModel($event)"  [(ngModel)]="vehicleDetails.make"
                [ngClass]="{ 'is-invalid': submitted && f.make.errors }" >
                <option disabled selected value="">Select a Vehicle Make</option>
                <option *ngFor="let level of vehicleMake"                    
                    value="{{level.value}}">{{level.name}}</option>
            </select> -->

          
                <div *ngIf="submitted && f.make.errors" class="invalid-feedback">
                  <div *ngIf="f.make.errors?.required">Vechile Make is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Vehicle-model">Vehicle Model *</label>
              
                <!-- <select id="input-Vehicle-model" class="form-control form-control-alternative" formControlName="model"
                  [(ngModel)]="vehicleDetails.model"
                [ngClass]="{ 'is-invalid': submitted && f.model.errors }" >
                <option disabled selected value="">Select a Vehicle Model</option>
                <option *ngFor="let level of vehicleModelChange" name=[level.name]                   
                    value="{{level.value}}">{{level.value}}
                </option>
            </select> -->

          
                <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                  <div *ngIf="f.model.errors?.required">Vechile Model is required</div>
                </div>
              </div>
            </div>
          </div>          
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Trip Type *</label>

                <!-- <select id="selTripType" class="form-control form-control-alternative"
                  [ngClass]="{ 'is-invalid': submitted && f.trip_type.errors }" formControlName="trip_type"
                  [(ngModel)]="vehicleDetails.trip_type">
                  <option disabled selected value="">Select a Trip type</option>
                  <option *ngFor="let level of tripType" value="{{level.value}}">
                    {{level.name}}</option>
                </select> -->

                <!-- Trip Type -->
                <div *ngIf="submitted && f.trip_type.errors" class="invalid-feedback">
                  <div *ngIf="f.trip_type.errors?.required">Trip Type is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Commission">Commission (%) *</label>
                <!-- <input type="number" id="input-Commission" class="form-control form-control-alternative"
                  placeholder="Commission %" formControlName="commission" value="{{vehicleDetails.commission}}"
                  [ngClass]="{ 'is-invalid': submitted && f.commission.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Commission-->
                <div *ngIf="submitted && f.commission.errors" class="invalid-feedback">
                  <div *ngIf="f.commission.errors?.required">Commission is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" [hidden]="true">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Booking">Base/Booking Fee *</label>
                <input type="number" id="input-Booking" class="form-control form-control-alternative"
                  placeholder="Base/Booking Fee" />
              </div>

            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-riderapp-name">In Rider App *</label>
                <input type="text" id="input-riderapp-name" class="form-control form-control-alternative"
                  placeholder="In Rider App" value="{{vehicleDetails.trip_type}}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Per-KM-Rate">Per KM Rate *</label>
                <!-- <input type="number" id="input-Per-KM-Rate" class="form-control form-control-alternative"
                  placeholder="Per KM Rate" formControlName="per_km_rate" value="{{vehicleDetails.per_km_rate}}"
                  [ngClass]="{ 'is-invalid': submitted && f.per_km_rate.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Per KM Rate -->
                <div *ngIf="submitted && f.per_km_rate.errors" class="invalid-feedback">
                  <div *ngIf="f.per_km_rate.errors?.required">Per KM Rate is required</div>
                </div>
              </div>

            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Is Vehicle Available</label>
                <!-- <select id="vehicleAvai" class="form-control form-control-alternative"
                  [ngClass]="{ 'is-invalid': submitted && f.isactive.errors }" formControlName="isactive"
                  [(ngModel)]="vehicleDetails.isactive">
                  <option value="" selected disabled>Please Select Vehicle is Available / Not</option>
                  <option value="1" [selected]="vehicleDetails.isactive == 1? true: false">Yes</option>
                  <option value="0" [selected]="vehicleDetails.isactive == 0? true: false">No</option>
                </select> -->





                <!-- <select id="vehicleAvai" class="form-control form-control-alternative"
                  [ngClass]="{ 'is-invalid': submitted && f.isactive.errors }" formControlName="isactive"
                  [(ngModel)]="vehicleDetails.isactive">
                  <option disabled selected value="">Please Select Vehicle is Available / Not</option>
                  <option *ngFor="let level of vechicleActive" value="{{level.value}}">
                    {{level.name}}</option>
                </select> -->


                <!-- <option value="1">Yes</option>
                  <option value="0">No</option> -->

                <!-- Available Vechile -->
                <div *ngIf="submitted && f.isactive.errors" class="invalid-feedback">
                  <div *ngIf="f.isactive.errors?.required">Available Vehicle is required</div>
                </div>
              </div>
            </div>

          </div>
          <div class="row" [hidden]="true">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minute">Rate Per Minute *</label>
                <input type="number" id="input-Minute" class="form-control form-control-alternative"
                  placeholder="Per Time Fare">
              </div>

            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-phone">Allow For Ride Later</label>
                <select class="form-control form-control-alternative">
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minute">Rate Per Minute *</label>
                <!-- <input type="number" id="input-Minute" class="form-control form-control-alternative"
                  placeholder="Per Time Fare" formControlName="per_minute_rate"
                  value="{{vehicleDetails.per_minute_rate}}"
                  [ngClass.ngClass]="{ 'is-invalid': submitted && f.per_minute_rate.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <div *ngIf="submitted && f.per_minute_rate.errors" class="invalid-feedback">
                  <div *ngIf="f.per_minute_rate.errors?.required">Rate per Minute is required</div>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minute">Rate Per Minute *</label>
                <input type="number" id="input-Minute" class="form-control form-control-alternative"
                  placeholder="Per Time Fare" formControlName="per_minute_rate"
                  value="{{vehicleDetails.per_minute_rate}}"
                  [ngClass]="{ 'is-invalid': submitted && f.per_minute_rate.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" />
                <div *ngIf="submitted && f.per_minute_rate.errors" class="invalid-feedback">
                  <div *ngIf="f.per_minute_rate.errors?.required">Per KM Rate is required</div>
                </div>
              </div>
            </div> -->
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minute">Base Fare *</label>
                <!-- <input type="number" id="input-Minute" class="form-control form-control-alternative"
                  placeholder="Base Fare" formControlName="base_fare" value="{{vehicleDetails.base_fare}}"
                  [ngClass]="{ 'is-invalid': submitted && f.base_fare.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <div *ngIf="submitted && f.base_fare.errors" class="invalid-feedback">
                  <div *ngIf="f.base_fare.errors?.required">Base Fare is required</div>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minute">Peak Hour Fare *</label>
                <input type="number" id="input-Minute" class="form-control form-control-alternative"
                  placeholder="Peak Hour Fare" formControlName="peek_hour_fare"
                  value="{{vehicleDetails.peek_hour_fare}}"
                  [ngClass]="{ 'is-invalid': submitted && f.peek_hour_fare.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" />
                <div *ngIf="submitted && f.peek_hour_fare.errors" class="invalid-feedback">
                  <div *ngIf="f.peek_hour_fare.errors?.required">Peak Hour Fare is required</div>
                </div>
              </div>
            </div> -->
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Lagos Road Development Fund Levy</label>
               
                <!-- <input type="number" id="input-tax_percent" class="form-control form-control-alternative"
                placeholder="Lagos Road Development Fund Levy" formControlName="tax_percent" value="{{vehicleDetails.tax_percent}}"
                [ngClass]="{ 'is-invalid': submitted && f.tax_percent.errors }" min="0"
                oninput="this.value = Math.abs(this.value)" /> -->
                                
                <div *ngIf="submitted && f.tax_percent.errors" class="invalid-feedback">
                  <div *ngIf="f.tax_percent.errors?.required">Lagos Road Development Fund Levy is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Minute">Toll Fees *</label>
                <!-- <input type="number" id="input-Minute" class="form-control form-control-alternative"
                  placeholder="Toll Fees" formControlName="tolls_fees" value="{{vehicleDetails.tolls_fees}}"
                  [ngClass]="{ 'is-invalid': submitted && f.tolls_fees.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <div *ngIf="submitted && f.tolls_fees.errors" class="invalid-feedback">
                  <div *ngIf="f.tolls_fees.errors?.required">Toll Fees is required</div>
                </div>
              </div>
            </div>


            <!-- <div class="col-lg-6">
                  <div class="has-success">
                    <label class="control-label">Tags input with success</label>
                    <tags-input ng-model="tags"></tags-input>
                  </div>  
                  </div>
              </div>
              <div class="row"> -->
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Per-KM-Rate">Available Seats/Person capacity *</label>
                <!-- <input type="number" id="input-capacity-Rate" class="form-control form-control-alternative" min="0"
                  formControlName="available_seat" value="{{vehicleDetails.available_seat}}"
                  placeholder="Total of Available Seats"
                  [ngClass]="{ 'is-invalid': submitted && f.available_seat.errors }"> -->
                <!-- Available Seats -->
                <div *ngIf="submitted && f.available_seat.errors" class="invalid-feedback">
                  <div *ngIf="f.available_seat.errors?.required">Available Seats is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Description</label>
                <!-- <textarea class="form-control form-control-alternative" rows="2" placeholder="Description"
                  formControlName="description" value="{{vehicleDetails.description}}"
                  [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea> -->
                <!-- Description -->
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors?.required">Description is required</div>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Vehicle-year">Vehicle Year *</label>
                
                <!-- <select id="input-Vehicle-year" class="form-control form-control-alternative" formControlName="year"
                [(ngModel)]="vehicleDetails.year"
                [ngClass]="{ 'is-invalid': submitted && f.year.errors }" >
                <option disabled selected value="">Select a Vehicle Year</option>
                <option *ngFor="let level of vehicleYear"                    
                    value="{{level.value}}">{{level.name}}</option>
            </select> -->
                <!-- Available Seats -->
                <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                  <div *ngIf="f.year.errors?.required">Vechile Year is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Per-KM-Rate-share">(share) Per KM Rate *</label>
                <!-- <input type="number" id="input-Per-KM-Rate-share" class="form-control form-control-alternative"
                  placeholder="(share) Per KM Rate" formControlName="per_km_rate_share" value="{{vehicleDetails.per_km_rate_share}}"
                  [ngClass]="{ 'is-invalid': submitted && f.per_km_rate_share.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Per KM Rate -->
                <div *ngIf="submitted && f.per_km_rate_share.errors" class="invalid-feedback">
                  <div *ngIf="f.per_km_rate_share.errors?.required">(share) Per KM Rate is required</div>
                </div>
              </div>

            </div>
           
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-Per-Minute-Rate-share">(share) Per Minute Rate *</label>
                  <!-- <input type="number" id="input-Per-Minute-Rate-share" class="form-control form-control-alternative"
                    placeholder="(share) Per Minute Rate" formControlName="per_minute_rate_share" value="{{vehicleDetails.per_minute_rate_share}}"
                    [ngClass]="{ 'is-invalid': submitted && f.per_minute_rate_share.errors }" min="0"
                    oninput="this.value = Math.abs(this.value)" /> -->
                  <!-- Per KM Rate -->
                  <div *ngIf="submitted && f.per_minute_rate_share.errors" class="invalid-feedback">
                    <div *ngIf="f.per_minute_rate_share.errors?.required">(share) Per Minute Rate is required</div>
                  </div>
                </div>
  
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-Minimum-Fare-share">(share) Minimum Fare *</label>
                  <!-- <input type="number" id="input-Minimum-Fare-share" class="form-control form-control-alternative"
                    placeholder="(share) Minimum Fare" formControlName="minimum_fare_share" value="{{vehicleDetails.minimum_fare_share}}"
                    [ngClass]="{ 'is-invalid': submitted && f.minimum_fare_share.errors }" min="0"
                    oninput="this.value = Math.abs(this.value)" /> -->
                  <!-- Per KM Rate -->
                  <div *ngIf="submitted && f.minimum_fare_share.errors" class="invalid-feedback">
                    <div *ngIf="f.minimum_fare_share.errors?.required">(share) Minimum Fare is required</div>
                  </div>
                </div>
  
              </div>
           
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-Base-Fare-share">(share) Base Fare *</label>
                  <!-- <input type="number" id="input-Base-Fare-share" class="form-control form-control-alternative"
                    placeholder="(share) Base Fare" formControlName="base_fare_share" value="{{vehicleDetails.base_fare_share}}"
                    [ngClass]="{ 'is-invalid': submitted && f.base_fare_share.errors }" min="0"
                    oninput="this.value = Math.abs(this.value)" /> -->
                  <!-- Per KM Rate -->
                  <div *ngIf="submitted && f.base_fare_share.errors" class="invalid-feedback">
                    <div *ngIf="f.base_fare_share.errors?.required">(share) Base Fare is required</div>
                  </div>
                </div>
  
              </div>
         
          </div>
          <!--Section for flat rate-->
          
          <div class="card bg-secondary shadow" style="margin-top:20px;">
           <div class="card-header bg-white border-0">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-toggle-flat">Toggle Flat Rate Fee </label>
              
                <!-- <select id="input-toggle-flat" class="form-control form-control-alternative" formControlName = "toggleFlatRate"
                (change)="selectedSwitchState($event)"  
                [ngClass]="{ 'is-invalid': submitted && f.type.errors }" >
                <option disabled selected value="">Select</option>
                <option value = "0" [selected] = "vehicleDetails.promo_status == 0">Off</option>
                <option value = "1" [selected] = "vehicleDetails.promo_status == 1">On</option>
            </select> -->


                <!-- <input type="text" id="input-Vehicle-name" class="form-control form-control-alternative"
                  placeholder="Vehicle Type" formControlName="type" value="{{vehicleDetails.type}}"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" /> -->
                <!-- Vechile Type 
                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                  <div *ngIf="f.type.errors?.required">Vechile Type is required</div>
                </div>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-flat-rate">Flat Rate </label>
                <!-- <input type="number" id="input-flat-rate" class="form-control form-control-alternative"
                  placeholder="Flat Rate" formControlName="flatRate" value="{{vehicleDetails.promo_amount}}"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Min fare 
                <div *ngIf="submitted && f.minimum_fare.errors" class="invalid-feedback">
                  <div *ngIf="f.minimum_fare.errors?.required">Flat Rate is required</div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>

          <!-- <div class="row">
                <div class="col-lg-12">
                    <a href="#!" class="btn btn-info">Add</a>
                    <a href="#!" class="btn btn-info">Update</a>
                    <a href="#!" class="btn btn-info">Delete</a>
              </div>
              </div> -->
        </div>

      </div>
    </div>

    <div class="card bg-secondary shadow" style="margin-top:20px; display: none;" [hidden]="true">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Tax Details</h3>
          </div>
          <div class="col-4 text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          </div>
        </div>
      </div>
      <div class="card-body">

        <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-email">Is Tax Applicable</label>
                <select class="form-control form-control-alternative">
                  <option>Yes</option>
                  <option>No</option>

                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Per-KM-Rate">Tax (%)</label>
                <input type="number" id="input-capacity-Rate" class="form-control form-control-alternative" value="0">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card bg-secondary shadow" style="margin-top:20px;">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Cancellation Details</h3>
          </div>
          <div class="col-4 text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          </div>
        </div>
      </div>
      <div class="card-body">

        <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Cancellation-Rider">Cancellation Charge for Rider</label>
                <!-- <input type="number" id="input-Cancellation-Rider" class="form-control form-control-alternative"
                  formControlName="cancel_charge_rider" value="{{vehicleDetails.cancel_charge_rider }}"
                  placeholder="Cancellation Charge for Rider"
                  [ngClass]="{ 'is-invalid': submitted && f.cancel_charge_rider.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Cancellation charge for riders -->
                <div *ngIf="submitted && f.cancel_charge_rider.errors" class="invalid-feedback">
                  <div *ngIf="f.cancel_charge_rider.errors?.required">Rider Cancellation Charge is required</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Cancellation-driver">Cancellation Charge for Driver</label>
                <!-- <input type="number" id="input-Cancellation-driver" class="form-control form-control-alternative"
                  formControlName="cancel_charge_driver" value="{{vehicleDetails.cancel_charge_driver}}"
                  placeholder="Cancellation Charge for Driver"
                  [ngClass]="{ 'is-invalid': submitted && f.cancel_charge_driver.errors }" min="0"
                  oninput="this.value = Math.abs(this.value)" /> -->
                <!-- Cancellation charge for Drivers -->
                <div *ngIf="submitted && f.cancel_charge_driver.errors" class="invalid-feedback">
                  <div *ngIf="f.cancel_charge_driver.errors?.required">Driver Cancellation Charge is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a class="btn btn-info" *ngIf="vehicleDetails.id == 0" (click)="addVehicle()">Add</a>
              <a class="btn btn-info" *ngIf="vehicleDetails.id != 0"
                (click)="updateVehicle(vehicleDetails.id)">Update</a>
              <a class="btn btn-danger" *ngIf="vehicleDetails.id != 0"
                (click)="deleteVehicle(vehicleDetails.id)">Delete</a>
              <a class="btn btn-dark" *ngIf="vehicleDetails.id == 0" (click)="vehicleForm.reset(); cancel()"
                (click)="changetoAddMenu()">Cancel</a>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card bg-secondary shadow" style="margin-top:20px; display: none;" [hidden]="true">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Peak Hours Details</h3>
          </div>
          <div class="col-4 text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          </div>
        </div>
      </div>
      <div class="card-body">

        <h6 class="heading-small text-muted mb-4">Peak Hour 1</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Start">Start Time</label>
                <input type="time" id="input-Start" class="form-control form-control-alternative" value="12.00 AM">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-End">End Time</label>
                <input type="time" id="input-End" class="form-control form-control-alternative" value="12.00 AM">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Total-Fare">Increase in Total Fare (%)</label>
                <input type="number" id="input-Total-Fare" class="form-control form-control-alternative" value="0">
              </div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
        </div>

      </div>
      <div class="card-body">

        <h6 class="heading-small text-muted mb-4">Peak Hour 2</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Start">Start Time</label>
                <input type="time" id="input-Start" class="form-control form-control-alternative" value="12.00 AM">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-End">End Time</label>
                <input type="Time" id="input-End" class="form-control form-control-alternative" value="12.00 AM">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Total-Fare">Increase in Total Fare (%)</label>
                <input type="number" id="input-Total-Fare" class="form-control form-control-alternative" value="0">
              </div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="card bg-secondary shadow" style="margin-top:20px; display: none;" [hidden]="true">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Night Hours Details</h3>
          </div>
          <div class="col-4 text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          </div>
        </div>
      </div>
      <div class="card-body">

        <h6 class="heading-small text-muted mb-4">Night Hour 1</h6>
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Start">Start Time</label>
                <input type="time" id="input-Start" class="form-control form-control-alternative" value="12.00 AM">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-End">End Time</label>
                <input type="Time" id="input-End" class="form-control form-control-alternative" value="12.00 AM">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Total-Fare">Increase in Total Fare (%)</label>
                <input type="number" id="input-Total-Fare" class="form-control form-control-alternative" value="0">
              </div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="card bg-secondary shadow" style="margin-top:20px; display: none;" [hidden]="true">
      <div class="card-header bg-white border-0">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">Waiting Time Details</h3>
          </div>
          <div class="col-4 text-right">
            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
          </div>
        </div>
      </div>
      <div class="card-body">

        <!-- <h6 class="heading-small text-muted mb-4">Night Hour 1</h6> -->
        <div class="pl-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="waiting-charge">Is Waiting Time Charge Applicable</label>
                <select class="form-control form-control-alternative">
                  <option>Yes</option>
                  <option>No</option>

                </select>
              </div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-End">How much time (in Minutes), application can exclude
                  from the actual waiting time of a trip.</label>
                <input type="number" id="input-Total-Fare" class="form-control form-control-alternative" value="0">
              </div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-Total-Fare">How much charge (Per Minute), application can
                  apply for the remaining waiting hours except the minimum allowable waiting time of total waiting
                  time</label>
                <input type="number" id="input-Total-Fare" class="form-control form-control-alternative" value="0">
              </div>
            </div>
            <div class="col-lg-6">

            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <a href="#!" class="btn btn-info">Add</a>
              <a href="#!" class="btn btn-info">Update</a>
              <a href="#!" class="btn btn-danger">Delete</a>

            </div>
          </div>
        </div>

      </div>
    </div>
  </form>


</div>