<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <!-- <div class="col-8">
              <h3 class="mb-0">DRIVER PROFILE: Name | Code : DRV000</h3>
            </div> -->
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
            <div class="pl-lg-4">
          
              <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-control-label" for="input-Minimum">Upload Profile Image</label>
                    
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                                <label class="custom-file-label" for="customFileLang">Select file</label>
                            </div>
                  
                      </div>

                  <div class="form-group">
                    <label class="form-control-label" for="input-firstname">First Name *</label>
                    <input type="text" id="input-firstname" class="form-control form-control-alternative" placeholder="First Name" value="">
                  </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-phone">Phone *</label>
                        <input type="text" id="input-phone" class="form-control form-control-alternative" placeholder="Phone" value="">
                      </div>
                  <div class="form-group">
                    <label class="form-control-label" for="input-lastname">Last Name *</label>
                    <input type="text" id="input-lastname" class="form-control form-control-alternative" placeholder="Last Name" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-Birth">Date Of Birth</label>
                        <input type="date" id="input-Birth" class="form-control form-control-alternative" placeholder="Select a Date">
                      </div>
               
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-phone">Gender</label>
                        <div class="custom-control custom-control-alternative custom-radio mb-3">
                          <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                          <label class="custom-control-label" for="customRadio1">Male</label>
                        </div>
                        <div class="custom-control custom-control-alternative custom-radio mb-3">
                          <input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked="" type="radio">
                          <label class="custom-control-label" for="customRadio2">Female</label>
                        </div>
                      </div>
                </div>
           
              </div>
       
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-Email">Email</label>
                        <input type="email" id="input-Email" class="form-control form-control-alternative" placeholder="Email">
                      </div>
               
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Password">Password *</label>
                    <input type="password" id="input-Password" class="form-control form-control-alternative" placeholder="Password">
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <select class="form-control form-control-alternative"> 
                        <option>Select a Country</option>
                        <option>USA</option>
                        <option>India</option>
                    
                       </select>
                  </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-state">State/Provinces</label>
                        <select class="form-control form-control-alternative"> 
                            <option>Select a State / Provinces</option>
                            <option>New York</option>
                            <option>New Jessy</option>
                            <option>Florida</option>
                           </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <select class="form-control form-control-alternative"> 
                            <option>Select a City</option>
                            <option>New York</option>
                            <option>New Jessy</option>
                            <option>Florida</option>
                           </select>
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-NIC">National ID Card Number (NIC)</label>
                        <input type="type" id="input-NIC" class="form-control form-control-alternative" placeholder="NIC Number" >
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label class="form-control-label" for="input-NIC">Availablity Status</label>
                   <br>
                    <label class="custom-toggle">
                        <input type="checkbox" checked>
                        <span class="custom-toggle-slider rounded-circle" data-label-off="Offline" data-label-on="Online"></span>
                    </label>

                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck112" type="checkbox">
                      <label class="custom-control-label" for="customCheck112">
                        Is Driver Allowed Downtown</label>
                    </div>
              </div>
            </div>
              <div class="row">
                <div class="col-lg-12">
                   <a href="#!" class="btn btn-info">Update</a>
                    <a href="#!" class="btn btn-info">Approve</a>
                    <a href="#!" class="btn btn-danger">Reject</a>
                    <a href="#!" class="btn btn-info">Reset Password</a>
                    <a href="#!" class="btn btn-danger">Inactive Driver</a>
                    <a href="#!" class="btn btn-primary">Change Password</a>
              </div>
              </div>
            </div>
            </form>
            </div>
           </div> 

           <div class="card bg-secondary shadow" style="margin-top:20px;">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Add Bank Details</h3>
                </div>
                <div class="col-4 text-right">
                  <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                </div>
              </div>
            </div>
        <div class="card-body">
          <form>
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
            <div class="pl-lg-4">
             <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-AccountName">Account Holder Name</label>
                    <input type="type" id="input-AccountName" class="form-control form-control-alternative" placeholder="Account Holder Name" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-AccountNumber">Account Number</label>
                    <input type="type" id="input-AccountNumber" class="form-control form-control-alternative" placeholder="Account Number" >
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-bankName">Name of Bank</label>
                    <input type="type" id="input-bankName" class="form-control form-control-alternative" placeholder="Name of Bank" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-banklocation">Bank Location</label>
                    <input type="type" id="input-banklocation" class="form-control form-control-alternative" placeholder="Bank Location" >
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-paymentemail">Payment Email</label>
                    <input type="type" id="input-paymentemail" class="form-control form-control-alternative" placeholder="Payment Email" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-code">IFSC Code / SWIFT Code</label>
                    <input type="type" id="input-code" class="form-control form-control-alternative" placeholder="Account Number" >
                  </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                    
                    <a href="#!" class="btn btn-info">Submit</a>
                    
                    
              </div>
              </div>

             </div>
            </form>
            </div>
           </div> 

          
          <div class="card bg-secondary shadow " style="margin-top:20px;">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Documents:name  </h3>
                </div>
                <div class="col-4 text-right">
                  <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                </div>
              </div>
            </div>
        <div class="card-body">
          <form>
            <!-- <h6 class="heading-small text-muted mb-4">Night Hour 1</h6> -->
            <div class="pl-lg-4">
             <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <form>
                      <label class="form-control-label" for="">Driving License </label>
                      <p>Driving License not found</p>
                      <p>Image</p>
                        <div class="custom-file">
                          
                            <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                            <label class="custom-file-label" for="customFileLang">Select file</label>
                        </div>
                        <p  style="margin-top:20px;"> <a href="#!" class="btn btn-info">Submit</a></p>
                    </form>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <form>
                      <label class="form-control-label" for="">Passing</label>
                      <p>Passing not found</p>
                      <p>Image</p>
                        <div class="custom-file">
                         
                            <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                            <label class="custom-file-label" for="customFileLang">Select file</label>
                        </div>
                        <p style="margin-top:20px;"><a href="#!" class="btn btn-info">Submit</a></p>
                    </form>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <form>
                      <label class="form-control-label" for="">Insurance</label>
                      <p>Insurance not found</p>
                      <p>Image</p>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileLang" lang="en">
                            <label class="custom-file-label" for="customFileLang">Select file</label>
                        </div>
                        <p  style="margin-top:20px;"><a href="#!" class="btn btn-info">Submit</a></p>
                    </form>
                  </div>
                </div>
               
              </div>
             
          
              
             </div>
            </form>
            </div>
          </div> 
             
             
   
</div>
  