a.text-light:hover, a.text-light:focus {
    color: #219cdb !important;
}  
.btn-neutral {
    color: #209fde;
    width:9rem;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #28094f;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #28094f;
}
.custom-control-input:active ~ .custom-control-label::before{
    background-color: transparent;
}

.font_sizing{
    font-size: 14px;
}