<div class="header bg-primary bg-gradient py-7 py-lg-8 " style="height: 50vh;">
  
  <div class="separator separator-bottom separator-skew zindex-100 bg-green-700" >
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default " points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container pb-5 ">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-light shadow border-0">
        <!-- <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
          <div class="btn-wrapper text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/facebook.svg"></span>
              <span class="btn-inner--text">Facebook</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div> -->
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Sign In </small>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="isFormReady">
            <!-- <form role="form"> -->
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                </div>
                <input formControlName="email" id="email" class="form-control" placeholder="Email" type="email"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
              </div>
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group ">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend bord">
                  <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                </div>
                <input id="password" formControlName="password" class="form-control" placeholder="Password"
                  type="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                  />
              </div>
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
              </div>
            </div>

            <div class="col">
              <p class="text-danger font_sizing" *ngIf="emailValid">Email Id or Password is incorrect</p>
            </div>
            <div *ngIf="errorMessages !== ''">
              <div class="help-block">
                <div class="invalid-feedback">{{errorMessages}}</div>
              </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
              <!-- customCheckLogin -->
              <input class="custom-control-input" id=" rememberMe" type="checkbox" formControlName="isRemberMeChecked">
              <label class="custom-control-label" for=" rememberMe">
                <span class="text-muted">Remember me</span>
              </label>
            </div>
            <div class="text-center">
              <!-- <button type="button" class="btn btn-primary my-4" [routerLink]="['/dashboard']">Sign in</button> -->
              <button class="btn btn-primary my-4">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 text-left">
          <a href="javascript:void(0)" [hidden]="true" class="text-light"><small>Create new account</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" [hidden]="true" [routerLink]="['/forgot-password']"
            class="text-light"><small>Change
              password ?</small></a>
        </div>
      </div>
    </div>
  </div>
</div>