.table-bordered.trip-locpick tr td {
    border-bottom: 2px solid transparent;
}
/* .table-bordered tr:last-child th{
    border-top: 2px solid #e9ecef !important;
} */

.table-bordered.trip-locpick tr:nth-child(10) td {
    border-bottom: 2px solid #e9ecef;
}