
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Trip Invoice: Finished </h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body" >
          <form>
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->


              <span *ngFor = "let item of tripsList"> 
                  <div class="row">
              
                    <div class="col-lg-6">
                     
                        <div class="card bg-secondary shadow" style = "margin-bottom: 10px;">
                            <div class="card-header bg-white border-0" style="padding-bottom:0;">
                                <!-- <h5>Your Trip : On {{item.trip_date | date: 'MM/dd/yyyy HH:mm'}}</h5> -->
                            </div>
                            <div class="card-body" style="padding-top:0;">
                             
                              <div [innerHtml]="data"></div>
                            </div>      
                        </div>
                        <div class="card bg-secondary shadow" >
              
                            <div class="card-body" style="display: none;">
                                <table  class="table trip-loc table-borderless ">
                                    <thead>
                                        <tr>
                                            <th  colspan="2" scope="col" style="border-bottom: 1px solid transparent;">
                                            <h5>Trip Location</h5>
                                           </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th  scope="row" width="7%">Pickup:</th>
                                            <td  width="93%"><b >Teniente Manuel Orella 1365, Antofagasta, Chile</b></td>
                                            </tr>
                                            <tr>
                                                <th  scope="row" width="7%">Drop:</th>
                                                <td  width="93%"><b >Teniente Manuel Orella 1365, Antofagasta, Chile</b></td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>      
                        </div>
                        <hr>
                        <div class="card bg-secondary shadow " style = "width:200%;margin-top:250px;">
                            <div class="card-header bg-white border-0">
                                
                            </div>
                            <div class="card-body" >
                             
                                <div class="form-group">
                                  <div class="row show-grid">
                                    <div class="col-4 col-md-4">
                                      <p style="margin-bottom: 0;text-align: center;">Vehicle Type</p>
                                      <!-- <p style="margin-bottom: 0;text-align: center;"> <b>{{item.vehicle_type}}</b></p></div> -->
                                      <div class="col-4 col-md-4 ng-star-inserted">
                                        <p style="margin-bottom: 0;text-align: center;">Distance</p>
                                        <!-- <p style="margin-bottom: 0;text-align: center;"><b>({{item.distance}} KM)</b></p> </div> -->
                                      <div class="col-4 col-md-4">
                                        <p style="margin-bottom: 0;text-align: center;">Estimated Trip time (Min)</p>
                                        <p style="margin-bottom: 0;text-align: center;">
                                          <!-- <b>{{item.copy_travel_time}}</b></p> -->

                                         
                                        </div>
                                          <div class="col-4 col-md-4">
                                            <p style="margin-bottom: 0;text-align: center;padding-top: 10px;">OTP</p>
                                            <!-- <p style="margin-bottom: 0;text-align: center;"><b>{{item.security_code}}</b></p> -->
                                           
                                          </div>
                                          <div class="col-4 col-md-4">
                                            <p style="margin-bottom: 0;text-align: center; padding-top:10px;">Request From</p>
                                            <p style="margin-bottom: 0;text-align: center;">
                                              <b>Request From Mobile</b></p>
                                            </div>
                                            <div class="col-4 col-md-4">
                                            <p style="margin-bottom: 0;text-align: center; padding-top:10px;">Actual Trip Time (Mins)</p>
                                            <p style="margin-bottom: 0;text-align: center;">
                                              <!-- <b>{{item.trip_time}}</b></p> -->
                                            </div>
                                            </div>
                                              </div>
                                              <hr>
                                             
                                              <div class="form-group">
                                                <table class="table trip-loc">
                                                  <tbody>
                                                    <tr>
                                                      <td width="25%" style="border-top: transparent;">
                                                        <img  alt="img" class="user-picture image" height="42" 
                                                        src="assets/img/driver.png" style="margin-top: 10px;" width="42">
                                                      </td>
                                                      <td style="border-right: 1px solid #dee2e6 !important;border-top:
                                                       transparent;" width="25%">
                                                        <div style="text-align: left;">Driver</div>
                                                        <!-- <span>{{item.driverPhone_no}}</span> -->
                                                      </td>
                                                      <td width="25%" style="border-top: transparent;">
                                                        <img _ngcontent-c3=""  alt="img" class="user-picture image"
                                                         height="42" src="assets/img/rider.png" style="margin-top: 10px;" 
                                                         width="42">
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>

                                              </div>
                              




                        <div class="card bg-secondary shadow " style = "width:200%;margin-top: 10px;">
                                                      <div class="card-body">
                                                      <div class="form-group">
                                                      
                                                      <table class = "table trip-loc"><tbody>
                                                      <!-- <tr *ngIf = "(item.user_canceled_reason != undefined && item.user_canceled_reason != '') || (item.driver_canceled_reason != undefined && item.driver_canceled_reason != '') || (appCancel != undefined && appCancel != '')"> -->
                                                      <tr> 
                                                        <td style="border-right: 1px solid #dee2e6 !important;border-top: transparent;" colspan = '2'>
                                                        <div style="text-align: left;"><b>Cancelling Actor</b></div>
                                                        <!--<div ><p style="text-align: left;"><b>{{item.user_canceled_reason}}</b></p>
                                                          </div>--></td>
                                                        <td style="border-right:transparent;border-top: transparent;" colspan = '2'>
                                                        <div style="text-align: left;"><b>Cancellation Reason</b></div><!--<div ><p style="text-align: left;"><b>{{item.driver_canceled_reason}}</b></p>
                                                          </div>--></td>
                                                      </tr>
                                                      <!-- <tr *ngIf = "item.user_canceled_reason != undefined && item.user_canceled_reason != ''"> -->
                                                       <tr>
                                                        <td style="border-right: 1px solid #dee2e6 !important;border-top: transparent;" colspan = '2'>
                                                        <div style="text-align: left;">Rider</div>
                                                        </td>
                                                        <td style="border-right:transparent;border-top: transparent;" colspan = '2'>
                                                        <!-- <div ><div style="text-align: left;">{{item.user_canceled_reason}}</div> -->
                                                          <!-- </div> -->
                                                        </td>
                                                      </tr>
                                                      <!-- <tr *ngIf = "item.driver_canceled_reason != undefined && item.driver_canceled_reason != ''">
                                                        <td style="border-right: 1px solid #dee2e6 !important;border-top: transparent;" colspan = '2'>
                                                        <div style="text-align: left;">Driver</div>
                                                        </td>
                                                        <td style="border-right:transparent;border-top: transparent;" colspan = '2'>
                                                        <div ><div style="text-align: left;">{{item.driver_canceled_reason}}</div>
                                                          </div></td>
                                                      </tr> -->
                                                      <tr *ngIf = "appCancel != undefined && appCancel != ''">
                                                        <td style="border-right: 1px solid #dee2e6 !important;border-top: transparent;" colspan = '2'>
                                                        <div style="text-align: left;">App</div>
                                                        </td>
                                                        <td style="border-right:transparent;border-top: transparent;" colspan = '2'>
                                                        <div ><div style="text-align: left;">{{appCancel}}</div>
                                                          </div></td>
                                                      </tr>
                                                      <tr 
                                                        *ngIf = "number_of_declining_drivers > 0">
                                                        <td style="border-right: 1px solid #dee2e6 !important;border-top: transparent;" colspan = '4'>
                                                          <table class="table trip-loc"><tbody><tr>
                                                            <td style = "width:20%">
                                                        <div style="text-align: left;"><b>ID.</b></div></td>
                                                            <td style = "width:40%">
                                                        <div style="text-align: left;"><b>Driver</b></div></td>
                                                        <td style = "width:40%">
                                                          <div style="text-align: left;"><b>Driver Decline Reason</b></div>
                                                        </td>
                                                      </tr>
                                                      <tr *ngFor = "let data of decline_drivers">
                                                        <!-- <td>{{data.serial}}</td> -->
                                                        <!-- <td>{{data.driver}}</td> -->
                                                        <!-- <td>{{data.reason}}</td> -->
                                                      </tr>
                                                    </tbody></table>
                                                        </td>
                                                        
                                                      </tr>
                                                      
                                                    </tbody
                                                    ></table>
                                                  </div>
                                            </div>  </div>

                      <!-- </div> -->
                      <div class="col-lg-6">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0" style="padding-bottom: 0;">
                                <!-- <h4> Fare Breakdown For Ride No : {{item.id}}</h4> -->
                            </div>
                            <div class="card-body" style="padding-top: 0;">
                              <table class="table table-bordered fare-det trip-locpick " style="text-align: left">
                                <tbody>
                                  <!-- <tr>
                                    <td>Fare Type</td>
                                    <td>KMRATE</td>
                                  </tr> -->
                                  <tr>
                                    <td>Actual Cost</td>
                                    <!-- <td>{{item.trip_amount}}</td> -->
                                  </tr>
                                  <!-- <tr>
                                    <td>Distance Fare (0 KM)</td>
                                    <td>0.00 INR</td>
                                  </tr> -->
                                  <!-- <tr>
                                    <td>Base Fare</td>
                                    <td>5.00 INR</td>
                                  </tr> -->
                                  <!-- <tr>
                                    <td>Waiting Charge (1 INR/Min)</td>
                                    <td>0.00 INR</td>
                                  </tr> -->
                                  <!-- <tr>
                                    <td>Time Fare (0.00 INR/Min)</td>
                                    <td>0.00 INR</td>
                                  </tr>
                                  <tr>
                                    <td>Tax</td>
                                    <td>0.00 INR</td>
                                  </tr>
                                  <tr>
                                    <td>Old Balance</td>
                                    <td>0.00 INR</td>
                                  </tr>
                                  <tr>
                                    <td class="ng-star-inserted">Night Charge Applied</td>
                                    <td>Not Applied</td>
                                  </tr>
                                  <tr>
                                    <td>Discount (N/A - 0%) </td>
                                    <td>0.00 INR</td>
                                  </tr> -->
                                  <tr>
                                    <th class="totalFare" scope="row">Total Fare (Payment Mode: cash)</th>
                                    <!-- <th class="totalFare" scope="row">{{item.trip_amount}}</th> -->
                                  </tr>
                                </tbody>
                              </table>
                                      
                                     <div class="row" style="padding-top: 25px;">
                                      <div class="col-lg-12" style="text-align: right;" style="display: none;">
                                         <a href="#/trips/end-trip" class="btn btn-danger">END TRIP</a>  
                                         <!-- <a href="#!" class="btn btn-danger">CANCEL TRIP</a> -->
                                          <!-- <a href="#/trips/retry-mtd" class="btn btn-danger">RETRY BOOKING</a> -->
                                          <!-- <a href="#!" class="btn btn-info">E-MAIL</a> -->
                                          <a href="#!" class="btn btn-danger">DELETE</a> 
                                </div>
                                    </div>
                                  </div>    
                        </div>
                        <hr>
                        <div class="card bg-secondary shadow">
                           
                            <div class="card-body">
                              <div class="form-group">
                                <table class="table trip-loc">
                                   <thead>
                                      <tr>
                                         <th colspan="2" scope="col">
                                            <h5>Estimated Location</h5>
                                         </th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr>
                                         <th scope="row" width="7%">Pickup:</th>
                                         <!-- <td width="93%" style="white-space: normal;"><b>{{item.from_address}}</b></td> -->
                                      </tr>
                                      <tr>
                                         <th scope="row" width="7%">Drop:</th>
                                         <!-- <td width="93%" style="white-space: normal;"><b>{{item.to_address}}</b></td> -->
                                      </tr>
                                   </tbody>
                                </table>
                             </div>
                            </div>   
                            <div class="form-group">
                              <table class="table trip-loc">
                                <tbody><tr>
                                  <td width="20%" style="border-top: transparent;border-right: 1px solid #dee2e6;padding-left: 5px;">
                                    <!-- Trip Accepted Date<br> <b>{{item.trip_accept_time | date: 'MM/dd/yyyy HH:mm'}}</b></td> -->
                                  <td width="20%" style="border-top: transparent;border-right: 1px solid #dee2e6;padding-left: 5px">
                                    <!-- Trip Start Date<br> <b>{{item.trip_start_time | date: 'MM/dd/yyyy HH:mm'}}</b></td> -->
                                    <!--<td style="border-right: 1px solid #dee2e6 !important;border-top: transparent;" width="10%">
                                      </td>-->
                                        <!-- <td width="20%" style="border-top: transparent;padding-left: 5px">Trip Complete Date<br><b>{{item.trip_complete_time | date: 'MM/dd/yyyy HH:mm'}}</b> </td> -->
                                        
                                    </tr>
                                  </tbody
                                  ></table>
                                </div>

                        </div>
                      </div>
                  </div>

                  <hr>
         
                  <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <h3>Request Drivers List</h3>
                      </div>
                      <div class="card-body" style="padding-top: 0;">
                        <table class="table table-bordered table-responsive-md" style="text-align: center">
                          <thead>
                             <tr>
                                <th>Driver Code</th>
                                <th>Driver name</th>
                                <th>Phone No.</th>
                                <th>Current Service</th>
                                <th>Current Status</th>
                                <th>Payment Type</th>
                                <th>Distance *(KM)</th>
                             </tr>
                          </thead>
                          <tbody>
                             <!--bindings={
                                "ng-reflect-ng-for-of": "[object Object]"
                                }-->
                             <tr class="ng-star-inserted">
                                <td>DRV496</td>
                                <!-- <td>{{item.driverName}}</td> -->
                                <!-- <td>{{item.riderPhone_no}}</td> -->
                                <!-- <td>{{item.trip_type == '1' ? 'Individual':item.trip_type == '2'?'Share':item.trip_type =='3'?'Split-Fare':''}}</td> -->
                                <!-- <td>{{tripStatus(item.trip_status)}}</td> -->
                                <!-- <td>{{item.payment_type}}</td> -->
                                <!-- <td>{{item.distance}}</td> -->
                             </tr>
                             <!--bindings={
                                "ng-reflect-ng-if": "false"
                                }-->
                          </tbody>
                       </table>

                        </div>
                      </div>

                    <!-- </span> -->
              <!-- <div class="row">
                <div class="col-lg-12">
                    <a href="#!" class="btn btn-info">Add</a> -->
                    <!-- <a href="#!" class="btn btn-info">Update</a>
                    <a href="#!" class="btn btn-info">Delete</a> -->
                <!-- </div>
              </div> -->
            
            <!-- </form> -->
            <!-- </div> -->
           <!-- </div>  -->
   
<!-- </div> -->
  

  




