<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0 d-inline-block">Driver Payable to Admin</h3>
        <span class="text-right p-2 ">
          <!-- <input type="search" class="form-control w-25 d-inline-block" [ngModel]="FilterName" placeholder="search" /> -->
        </span>
        <span class="text-right p-2 expBtn">
          <!-- <button class="btn btn-primary" 
          (click)="exportRiderBankSettlement()"
          >
          Export
        </button> -->
          <button class="btn btn-primary" 
          >
          Export
        </button>
        </span>
      </div>
        
      
      <div class="table-responsive" >
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Driver Code</th>
              <th scope="col">Driver Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Total Cash Earned</th>
              <th scope="col">Total Admin Share</th>
              <th scope="col">Total Driver Share</th>
                        
              <th scope="col" class="text-center">Action</th>
             </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let item of (pageOfItems | search: FilterName)">
              <th scope="row">DRV00{{item.user_id}}</th>
              <td>{{item.firstname}} {{item.lastname}} </td>
              <td>{{item.email}}</td>
              <td>{{item.phone_no}}</td>
              <td>{{item.total_amount}}</td>
              <td>{{item.total_adminshare}}</td>
              <td>{{item.total_drivershare}}</td>                           
            </tr> -->
                  
          </tbody>
        </table>
      </div>
      <div class="card-footer py-4">
        <!-- <div class="card-footer pb-0 pt-3">         
          <jw-pagination [items]="driverList | search: FilterName" (changePage)="onChangePage($event)"></jw-pagination>
        </div> -->
      </div>
    </div>
  </div>
</div>
</div>
   

  