<div class="main-container">
   <!-- logo -->
   <div class="logo">
      <a [hidden]="false" [routerLink]="['/']">
         <img src="./assets/img/brand/Logo.png" class="navbar-brand-img" alt="..." style="width: 150px;">
      </a>
   </div>
   <!-- nav -->
   <div class="navbar-area">
      <div>
            <!-- dashboard nav -->
            <div class="dash-container">
               <a [hidden]="false" [routerLink]="['/']">
                  <div class="container">  
                        <div class="icon ">
                           <i class="fa-solid fa-store"></i>
                        </div>
                        <div class="navlink ">
                           <span style="margin-top: 4px;">      
                              <p>Dashboard</p>
                           </span>
                        </div>  
                  </div>
               </a>
            </div>
            <!--  -->
            <div *ngFor="let routeInfo of ROUTES">
               <div class="dash-container">
                  <a [hidden]="false" [routerLink]="routeInfo.path">
                     <div class="container">  
                           <div class="icon ">
                              <i class="{{routeInfo.icon}}"></i>
                           </div>
                           <div class="navlink ">
                              <span style="margin-top: 4px;">      
                                 <p>{{routeInfo.title}}</p>
                              </span>
                           </div>  
                     </div>
                  </a>
               </div>
            </div>
            <!-- <div *ngFor="let housingLocation of housingLocationList"
            >
            {{housingLocation.name}}
            </div> -->

      </div>
   </div>
</div>