<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0" *ngIf="discountData.id === 0 ">Add Discount</h3>
                    <h3 class="mb-0" *ngIf="discountData.id != 0">Edit Discount</h3>
                </div>
                <div class="col-4 text-right">                 
                </div>
            </div>
        </div>
        <div class="card-body">
            <!-- <form 
            [formGroup]="discountForm"
            > -->
            <form>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Discount Code *</label>
                                
                                <!-- <input type="text" class="form-control" 
                                placeholder="Discount code" formControlName="discount_code" value="{{discountData.discount_code}}"
                                required [ngClass]="{ 'is-invalid': submitted && f.discount_code.errors }" /> -->
                              
                                <div *ngIf="submitted && f.discount_code.errors" class="invalid-feedback">
                                    <div *ngIf="f.discount_code.errors?.required">Discount code is required</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-last-name" style="margin-right:25px;">Title *</label>
                          
                                <!-- <input type="text" class="form-control" 
                                    placeholder="Title" formControlName="title" value="{{discountData.title}}"
                                    required [ngClass]="{ 'is-invalid': submitted && f.title.errors }" /> -->
                               
                                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                    <div *ngIf="f.title.errors?.required">Title is required</div>                                                                        
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Description *</label>
                                <!-- <input type="text" class="form-control" value="{{discountData.description}}"
                                    formControlName="description" placeholder="Description"
                                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }" /> -->

                                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                    <div *ngIf="f.description.errors?.required">Description is required</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">    
                                <label class="form-control-label" for="input-last-name">Start Date *</label>
                                <!-- <input type="date" class="form-control" formControlName="start_date" min="{{minDate}}"
                                    [value]="discountData.start_date" placeholder="Start Date"
                                    [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }" /> -->
                                   

                                <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                                    <div *ngIf="f.start_date.errors?.required">Start Date is required</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-last-name">End Date *</label>
                                <!-- <input type="date" class="form-control" formControlName="end_date" min="{{minDate}}"
                                    value="{{discountData.end_date}}" placeholder="End Date"
                                    [ngClass]="{ 'is-invalid': submitted && f.end_date.errors }" /> -->

                                <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
                                    <div *ngIf="f.end_date.errors?.required">End Date is required</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-last-name">Discount Percent *</label>
                                <!-- <input type="text" class="form-control" formControlName="discount_percent"
                                    value="{{discountData.discount_percent}}" max="{{minTime}}" placeholder="Discount Percent"
                                    [ngClass]="{ 'is-invalid': submitted && f.discount_percent.errors }" /> -->

                                <div *ngIf="submitted && f.discount_percent.errors" class="invalid-feedback">
                                    <div *ngIf="f.discount_percent.errors?.required">Discount Percent is required</div>
                                    <div *ngIf="f.discount_percent.errors?.pattern">Invalid input</div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-first-name">Max Discount Amount </label>
                                <!-- <input type="text" id="date" class="form-control" placeholder="Max Discount Amount"
                                    (click)="chargeErrMsgDate()" formControlName="max_discount_amount" value="{{discountData.max_discount_amount}}"
                                  [ngClass]="{ 'is-invalid': submitted && f.max_discount_amount.errors }" /> -->
                                
                                  <div *ngIf="submitted && f.max_discount_amount.errors" class="invalid-feedback">                                  
                                    <div *ngIf="f.max_discount_amount.errors?.pattern">Invalid input</div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-last-name1">Maximum number of users</label>
                                
                                <!-- <input placeholder="Maximum Number of Users"  formControlName="max_no_of_users"
                                 [value]="max_no_of_users"
                                    spellcheck="off" type="text" class="form-control auto" 
                                    value=""> -->

                                    <div *ngIf="submitted && f.max_no_of_users.errors" class="invalid-feedback">                                  
                                        <div *ngIf="f.max_no_of_users.errors?.pattern">Invalid input</div>
                                    </div>
                            </div>

                        </div>

                    </div>
                   

                    <div class="row">
                        <div class="col-lg-12">
                            <a class="btn btn-info text-white" *ngIf="discountData.id == 0"
                                (click)="addDiscount()">Add</a>
                            <a class="btn btn-info text-white" *ngIf="discountData.id != 0"
                                (click)="updateDiscount(discountData.id)">Update</a>
                            <a class="btn btn-danger text-white" *ngIf="discountData.id != 0"
                                (click)="deleteDiscount(discountData.id)">Delete</a>
                            <a class="btn btn-dark text-white" *ngIf="discountData.id == 0" (click)="discountForm.reset()"
                                (click)="changePathUrl()">Cancel</a>

                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="card-body">
            <form>
                
            </form>
        </div>
    </div>

</div>