<!-- <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div> -->
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="card-header">
    <div class="col expbtnfixed">
      <h5 class="h3 mb-4 d-inline-block">New Registration:</h5>
      <span class="d-inline-block ml-3">
        <!-- <select id="selUser" class="form-control w_135" (click)="selectedDropdown($event)" >
          <option value="2022">2022</option>
          <option value="2021">2021</option>
        </select> -->
      </span>

      <span class="d-inline-block ml-3">
        <select id="selYear" class="form-control w_135" (click)="selectedDropdownYear($event)" >
          <option value="0">Select</option>
          <option value="7">Last 7 days</option>
          <option value="30">Last 30 days</option>          
          <option value="1">This Month</option>  
          <option value="2">Last 3 Month</option>  
        </select>
      </span>
      <span class="spnFilter" *ngIf="pagePath === '1'">Status 
        <select id="selDriverFilter" class="form-control form-control-alternative drpFilter" (change)="driverFilter($event)">            
        <option *ngFor="let level of driverFil" value="{{level.id}}">
          {{level.value}}
        </option>
      </select>
      <!-- <span style="margin-left: 25px;" [hidden]="true">Days <input type="text" id="txtDays" class="form-control w-25 d-inline-block daysFil" placeholder="Days" [disabled]="(dayDisable == false ? true : null)" (keyup)="filterDays($event)" onkeydown="javascript:return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"></span> -->
   
      <!-- <select style="margin-left: 30px;" id="selOnlineFilter" class="form-control form-control-alternative drpFilter" (change)="OnlineFilter($event)">            
        <option *ngFor="let level of driverOnline" value="{{level.id}}">
          {{level.value}}
        </option>
      </select> -->

    </span>
    <span class="text-right p-2 expBtn">
      <button class="btn btn-primary" (click)="exportDriver()">Export</button></span>
    </div>
    
    <ul class="nav justify-content-center" [hidden]="true">

      <li class="nav-item px-3 text-center" *ngFor="let item of tempArray; let i of index">
        <p class="mb-0 text-uppercase ">{{item.name}}</p>
        <!-- <p class="btn btn_primary py-0 px-3 text-white font-weight-bold" [ngStyle]="{'background-color': item.color}">
          {{item.data}}</p> -->
      </li>
    </ul>
  </div>
  <!-- Card body --> 
 
  <div class="card-body">
    <div class="chart">     
      <canvas id="chart-pielist" class="chart-canvas"></canvas>     
    </div>
  </div>
  
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          
          <h3 class="mb-0 d-inline-block" *ngIf="pagePath === '1'? 'Approved Drivers': '' ">Users</h3>
          
          <span class="text-right p-2 ">
            <!-- <input type="search" class="form-control w-25 d-inline-block" [(ngModel)]="FilterName"
              placeholder="search" /> -->
          </span>
         
         
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Code <i id="id" (click)="sortNumberColumn($event,booleanValue)" class="my-icon fa fa-chevron-up"></i></th>
                <th scope="col">User Name </th>
                <th scope="col">City</th>                
                <th scope="col">Email</th>
                <th scope="col">Phone</th>                
                <th scope="col" *ngIf="pagePath === '1'">IsActive</th>
                <th scope="col" *ngIf="pagePath === '1'">Created Date <i id="last_trip_date" (click)="sortNumberColumn($event,booleanValue)" class="my-icon fa fa-chevron-up"></i></th>
                
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of (pageOfItems | search: FilterName)">
                <th scope="row">UI0{{item.id}}</th>
                <td>{{item.firstname | titlecase}} {{item.lastname | titlecase}}</td>
                <td>{{item.city | titlecase}}</td>                
                <td>{{item.email}}</td>
                <td>{{item.phone_no}}</td>                                
                <td *ngIf="pagePath === '1'">{{item.isBlock == '0'?'Active':'InActive'}}</td>
                <td *ngIf="pagePath === '1'">{{item.created_at | date:'mediumDate'}}</td>                                
              </tr> -->

            </tbody>
          </table>
        </div>
        <div class="card text-center m-3 card-footer py-4">
          <div class="card-footer pb-0 pt-3">
            <!-- <jw-pagination [items]="driverList | search: FilterName" (changePage)="onChangePage($event)">
            </jw-pagination> -->
          </div>
         
        </div>
      </div>
    </div>
  
    <!-- <button id="btnModelPopup" [hidden]="true" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->
  
  </div>

</div>