
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">PromoCode : hashake2020</h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <!-- <h6 class="heading-small text-muted mb-4">User information</h6> -->
            <div class="pl-lg-4">
          
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="Discount">Flate Discount Amount</label>
                    <input type="number" id="Discount" class="form-control form-control-alternative" placeholder="Discount" value="">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="distance-to">Validity Start Date</label>
                    <input type="date" id="Validity-Start-date" class="form-control form-control-alternative" placeholder="Start Date" value="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="Validity-End-Date">Validity End Date </label>
                        <input type="date" id="Validity End Date" class="form-control form-control-alternative" placeholder="End Date" value="">
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-phone">Start Time</label>
                      <input type="time" id="input-phone" class="form-control form-control-alternative" placeholder="Click to Select a Time" value="">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-phone">End Time</label>
                        <input type="time" id="input-phone" class="form-control form-control-alternative" placeholder="Click to Select a Time" value="">
                      </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-phone">Total Usage Limit for this Code</label>
                      <input type="number" id="Discount" class="form-control form-control-alternative" placeholder="Discount" value="">
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-lg-1">Days:</div>
                <div class="col-lg-11">
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Mon" type="checkbox">
                <label class="custom-control-label" for="Mon">Mon</label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Tue" type="checkbox">
                <label class="custom-control-label" for="Tue">Tue</label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Wed" type="checkbox">
                <label class="custom-control-label" for="Wed">Wed</label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Thu" type="checkbox">
                <label class="custom-control-label" for="Thu">Thu</label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Fri" type="checkbox">
                <label class="custom-control-label" for="Fri">Fri</label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Sat" type="checkbox" >
                <label class="custom-control-label" for="Sat">Sat</label>
              </div>
              <div class="custom-control custom-checkbox mb-3">
                <input class="custom-control-input" id="Sun" type="checkbox">
                <label class="custom-control-label" for="Sun">Sun</label>
              </div>
              </div>
            </div>
            
              <div class="row">
                <div class="col-lg-12">
                    <!-- <a href="#!" class="btn btn-info">Add</a> -->
                    <a href="#!" class="btn btn-info">Update</a>
                    <a href="#!" class="btn btn-info">Delete</a>
                </div>
              </div>
            </div>
            </form>
            </div>
           </div> 
   
</div>
  

  




