<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
         <!-- <span class="backicon" (click)="backscreen()"><i class="fas fa-backward" title="Back"></i></span> <h3 class="mb-0">Transaction Details | Driver: {{(drivername != undefined ? drivername : '')}} -->
            <!-- <span class="ml-4 float-right">
              <button class="btn btn-danger px-4 py-1">Paid</button>
             </span> -->
            <!-- <span class="float-right">Wallet Balance :
              {{TotalDriverPay | number :'1.2-2'}}
            </span> -->
            <button *ngIf="drivername != undefined" id="btnAdminPaid" class="btn btn-primary paidalgn" (click)="paidCashSettlement()">Paid</button>
          <!-- </h3> -->
        </div>


        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light txtalign">
              <tr>
                <th scope="col">Ride ID</th>
                <th scope="col">Ride Type</th>
                <th scope="col">Rider Name</th>              
                <th scope="col">Ride Date</th>
                <th scope="col">A = Ride <br>Sub Total <span class="d-block text-center">(&#x20A6;)</span></th>
                <th scope="col">B = Site <br>Commission<span class="d-block text-center">(&#x20A6;)</span></th>
                <th scope="col">C = A - B <br>Driver <br>Payment <br>Amount<span class="d-block text-center">(&#x20A6;)</span></th>
                <th scope="col">D = Lagos <br>Road<br> Development<br> Fund Levy<span class="d-block text-center">(&#x20A6;)</span></th>
                <th scope="col">E = A + D <br>Total Ride <br>Amount<span class="d-block text-center">(&#x20A6;)</span></th>
                <th scope="col">Payment Method</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pageOfItems">
                <td>{{item.trip_id}}</td>
                <td>{{tripType(item.trip_type)}}</td>
                <td>{{item.rider_name}}</td>
                <!-- <th scope="row">{{item.created_at | date:'MMM dd,yyyy hh:mm:ss'}}</th>
                <td>{{item.amount}}</td>
                <td>{{item.adminShare | number :'1.2-2'}}</td>
                <td>{{item.driverShare | number :'1.2-2'}}</td> -->
                <td>20</td>
                <td>{{item.amount + 20}}</td>
                <td>{{item.payment_type}}</td>
                <!-- <td>
                  <span *ngIf="item.admin_status === 0? true:false ">Pending</span>
                  <span *ngIf="item.admin_status === 1? true:false ">Paid</span>
                </td> -->
                <!-- <td>
                  <button class="btn btn-danger px-4 py-1" (click)="UpdatePaidOrPennding($event)" [value]="item.trip_id"
                    *ngIf="item.payment_status === 1? false:true">Paid</button>
                </td> -->
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <div class="card-footer pb-0 pt-3">

            <!-- <jw-pagination [items]="driverPaymentList" (changePage)="onChangePage($event)"></jw-pagination> -->
          </div>
        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Transaction Paid</h4>
        <button id="closeBtn" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- <button id="btnHideClose" [hidden]="true" ></button> -->
      </div>
      <div class="modal-body map-detail-pop-up">         
          <div class="form-group">     
            <label class="form-control-label" for="input-password">Transaction ID</label>        
            <!-- [hidden]="true" -->
            <div class="input-group" >              
              <input type="text" id="txtTransactionID" class="form-control" 
                placeholder="Transaction ID" value="{{driverSettlementList}}" disabled="disabled"/>    
            </div>
            <label class="form-control-label" for="input-password">Transaction Date</label>  
            <div class="input-group">  
              <!-- <input placeholder="Transaction Date" class="form-control w-20 d-inline-block" type="text" data-date-format="MM/DD/YYYY"
                [(ngModel)]="startDate" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" /> -->
                          
              <!-- <input type="text" id="txtTransactionDate" class="form-control" 
                placeholder="Transaction Date" />     -->
            </div>
            <label class="form-control-label" for="input-password">Transaction Amount</label>  
            <div class="input-group">              
              <input type="text" id="txtTransactionAmt" class="form-control" 
                placeholder="Transaction Amount" value="{{paramsval}}" disabled="disabled" />    
            </div>
            <div *ngIf="errorMessage != ''" class="divclass">
              <div class="help-block">
                <div class="invalid-feedback">{{errorMessage}}</div>
              </div>
            </div>
            <div class="input-group-append" style="float: right;">
              <span class="text-right p-2">
                <button id="btnTrans" class="btn btn-primary" (click)="saveTransaction()">Save</button></span>
            </div>
          </div>         
      </div>
    
    </ng-template>
    <button id="btnModelPopup" [hidden]="true" class="btn btn-lg btn-outline-primary" (click)="open(content)"> modal</button>
  
  </div>
</div>