<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <span class="backicon" (click)="backscreen()"><i class="fas fa-backward"></i></span><h3 class="mb-0">Cash Settlement History
            <!-- <span class="ml-4 float-right">
              <button class="btn btn-danger px-4 py-1">Paid</button>
             </span> -->
            <!-- <span class="float-right">Wallet Balance :
              {{TotalDriverPay | number :'1.2-2'}}
            </span> -->
            
          </h3>
        </div>


        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>              
                <th scope="col">Transaction Date</th>
                <th scope="col">Amount</th>               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pageOfItems">
                <td>{{item.transaction_id}}</td>
                <td>{{item.firstname}} {{item.lastname}}</td>
                <td>{{item.phone_no}}</td>
                <!-- <th scope="row">{{item.transaction_date | date:'MMM dd,yyyy hh:mm:ss'}}</th> -->
                <td>{{item.transaction_amount}}</td>
                
                <!-- <td>
                  <span *ngIf="item.admin_status === 0? true:false ">Pending</span>
                  <span *ngIf="item.admin_status === 1? true:false ">Paid</span>
                </td> -->
                <!-- <td>
                  <button class="btn btn-danger px-4 py-1" (click)="UpdatePaidOrPennding($event)" [value]="item.trip_id"
                    *ngIf="item.payment_status === 1? false:true">Paid</button>
                </td> -->
              </tr>

            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <div class="card-footer pb-0 pt-3">

            <!-- <jw-pagination [items]="driverPaymentList" (changePage)="onChangePage($event)"></jw-pagination> -->
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>